/*
Colores
  dark-purple: hsl(300, 43%, 22%)
  pink:hsl(333, 80%, 67%)
  purple: hsl(303, 10%, 53%)
  soft-white: hsl(300, 24%, 96%)
  background-color: hsl(0, 0%, 90%);

Fuente de la página
  https://fonts.google.com/specimen/Karla
  Estilos 200 y 400
    font-family: 'Karla', sans-serif;

*/

* {
    box-sizing: border-box;
}

body {
    background-color: hsl(0, 0%, 90%);
}


.bg{
    position: absolute;
}

.bg-pattern-top{
    width: 40%;
    top: 0;
}

.bg-pattern-bottom{
    width: 75%;
    right: 0;
    bottom: 0;
}

.main-container{
    padding-left: 2%;
}

.header{
    position: absolute;
    width: 30%;
    top: 26%;  
    font-family: 'Karla', sans-serif;
    
}

.title{
    width: 90%;
    margin: 0;
    margin-bottom: 7%;
    font-size: 305%;
    color: hsl(300, 43%, 22%);
}

.purple-font{
    color: hsl(303, 10%, 53%);
}
