/*
Colores
  dark-purple: hsl(300, 43%, 22%)
  pink:hsl(333, 80%, 67%)
  purple: hsl(303, 10%, 53%)
  soft-white: hsl(300, 24%, 96%)
  background-color: hsl(0, 0%, 90%);

Fuente de la página
  https://fonts.google.com/specimen/Karla
  Estilos 200 y 400
    font-family: 'Karla', sans-serif;

*/

* {
    box-sizing: border-box;
}

body {
    background-color: hsl(0, 0%, 90%);
    font-family: 'Karla', sans-serif;
}


.bg{
    position: absolute;
}

.bg-pattern-top{
    width: 40%;
    top: 0;
}

.bg-pattern-bottom{
    width: 75%;
    right: 0;
    bottom: 0;
}

.main-container{
    padding-left: 1.4%;
    
}

.header{
    position: absolute;
    width: 30%;
    top: 26%;  
    font-weight: 400;
    
}

.title{
    width: 90%;
    margin: 0;
    margin-bottom: 7%;
    font-size: 305%;
    color: hsl(300, 43%, 22%);
}

.purple-font{
    color: hsl(303, 10%, 53%);
}

.pink-font{
    color: hsl(333, 80%, 67%);
}

.aside{
    position: absolute;
    width: 31%; 
    right: 13%;
    top: 28%;   
}

.rating-card{
    position: relative;
    display:flex;
    padding-left: 3%;
    padding-bottom: 3%;
    padding-top: 3%;
    padding-right: 4%;
    margin-bottom: 4%;
    font-weight: 400;
    border-radius: 0.7vw;
    background-color: hsl(300, 24%, 96%);  
}

.container-card-stars{
    width: 33%;
    padding-top: 4.7%;
    margin-left: 4%;
    margin-right: 5%;  
}

.star{  
    display: inline-block;
    margin-right: 5%;
}

.card-2{
    left: 5%;
}

.card-3{
    left: 15%;
}

.comments-container{
    display: flex;
    position: absolute;
    height: 60%;
    bottom: -32%;
}

.comment-card{
    width: 28.2%;
    height: 55%;   
    padding-left: 2.4%;
    padding-right: 2.4%;
    padding-top: 2.5%;
    padding-bottom: 3%;
    border-radius: 0.7vw;
    background-color: hsl(300, 43%, 22%);
    color: white;
}
.comment-card-header{
    display: flex;
    margin-bottom: 6%;
}

.user-photo{
    width: 19%;
    height: 19%;
    border-radius: 100%;
}

.user-name-container{
    margin-left: 6%;
    padding-top:2.5%;
    
}

.user-name{
    margin: 0;
    margin-bottom: 8%;
}

.comment-2{
    position: relative;
    left: 4%;
    top: 11%;
}

.comment-3{
    position: relative;
    left: 8%;
    top: 17%;
}








